
@model WebApplication3.Models.ViewModel.ServiceViewModel

@{
    ViewBag.Title = "Editar ";
}
<h2>@ViewBag.Title</h2>
<form>
    <div class="row">
        @Html.HiddenFor(d => d.Id, new { id = "Id" })
        <div class="form-group">
            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, new { id = "Name" })
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.Description)
            @Html.TextBoxFor(d => d.Description, new { id = "Description" })
        </div>
        <div class="form-group">
            @Html.LabelFor(d => d.State)
            @Html.TextBoxFor(d => d.State, new { id = "State" })
        </div>
        <button onclick="newEdit()" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script>
    var url = "@Url.Content("~/Service/Update")";
    function newEdit() {
        console.log(document.getElementById('Name').value)
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                Name: document.getElementById('Name').value,
                Description: document.getElementById('Description').value,
                State: document.getElementById('State').value,
                Id: document.getElementById("Id").value
            }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then((resp) => {
            if (resp.ok) {
                return resp.text()
            } else {
                alert('Error al actualizar')
            }
        }).then((data) => {
                if (data != "1") {
                    alert("Diferete de 1")
                } else {
                    document.location.href="@Url.Content("~/Service")"
                }
        })
    }
</script>

